body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


#container{
    height: 500px;
    width: 500px;
    display: grid;
    border:2px solid black;
    grid-template-columns: repeat(16, 1fr);

}

button{
    margin: 10px;
    padding: 5px;
}
