@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    
}

#container{
    height: 500px;
    width: 500px;
    display: grid;
    border:2px solid black;
    grid-template-columns: repeat(16, 1fr);
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 5px 5px #888888;
}

button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    background-color: #04AA6D;
    color:black;
    box-shadow: 3px 3px #888888;
}

button:hover{
    background-color: #048052;
}

.buttonContainer{
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
    gap: 10px;
}

#colorSelector{
    background-color: white;
    border-radius: 20%;
    box-shadow: 3px 3px #888888;
}

#colorSelector:hover{
    background-color: rgb(163, 163, 163);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #04AA6D;
    cursor: grab;
  }

  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    
  }